Importação das Bibliotecas:

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd
import numpy as np

Selecionando o local do arquivo:
(e definindo a separação a cada ";")

In [5]:
caminhoArquivo = r"C:\Users\Pichau\OneDrive\Documentos\EstudosIA\Regressão\Dados\Consumo_cerveja.csv"
dados = pd.read_csv(caminhoArquivo, sep=";")

Exibindo os dados:

In [7]:
dados

           data  temp_media  temp_min  temp_max  chuva  fds  consumo
0    01/01/2015       27.30      23.9      32.5    0.0    0    25461
1    02/01/2015       27.02      24.5      33.5    0.0    0    28972
2    03/01/2015       24.82      22.4      29.9    0.0    1    30814
3    04/01/2015       23.98      21.5      28.6    1.2    1    29799
4    05/01/2015       23.82      21.0      28.3    0.0    0    28900
..          ...         ...       ...       ...    ...  ...      ...
360  27/12/2015       24.00      21.1      28.2   13.6    1    32307
361  28/12/2015       22.64      21.1      26.7    0.0    0    26095
362  29/12/2015       21.68      20.3      24.1   10.3    0    22309
363  30/12/2015       21.38      19.3      22.4    6.3    0    20467
364  31/12/2015       24.76      20.2      29.0    0.0    0    22446

[365 rows x 7 columns]

Exibir o quantidade de linhas e colunas:
(LINHAS, COLUNAS)

In [6]:
dados.shape

(365, 7)